/* styles/global.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3a5a40;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Responsive Styles */

/* For tablets and smaller screens */
@media (max-width: 768px) {
  .container {
    width: 90%; /* Adjust container width */
  }

  body {
    font-size: 16px; /* Adjust font size for readability */
  }

  /* Adjust headings for smaller screens */
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .container {
    width: 95%; /* Increase container width on smaller screens */
  }

  body {
    font-size: 14px; /* Further adjust font size for small screens */
  }

  /* Further adjust headings for mobile screens */
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  /* Adjust any other elements as needed */
}
